<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="UrlToCheck" value="https://dynasty-scans.com/chapters/bloom_into_you_ch31"/>
    <add key="IntervalMilliseconds" value="600000"/>
  </appSettings>
</configuration>